<div class="wrapper clearfix">
  <div id="video">
      <div id="video_image">
        <img alt="video_place_holder" width='512px' height='385px' src="/assets/video_placeholder.png" />
	  </div>
  </div>

  <div id="backing">
    <!-- <ul>
      <li class="stats" id="backers">
        <%= number_with_delimiter User.count, :delimiter => "," %>
        <span><%= Settings.primary_stat %></span>
      </li>
    </ul>
	--> 
    <div >
      
      <h3 style="text-align:center">Get early access!</h3>

      <%= form_tag "/preorder/prefill", :id => "checkout" do %>
        <%= render 'preorder/payment_options' %>
        <div class="checkout_controls">
          <div class="checkout_controls_wrapper">
            <div class="checkout_controls_inner">
				<%= email_field_tag "email", nil, :placeholder => "Email address", :required => "required", :id => "email", :class=>"text_field"%>
				<%= submit_tag Settings.call_to_action, :class => "blue_button reserve" %> 
            </div>
          </div>
        </div>
	<% end %>

    <div id="share_container">
    <div id="share" class="clearfix">
      <div id='facebook_button_container'>
        <%= like_button %>
      </div>
      <div id='tweet_button_container'>
        <%= tweet_button %>
      </div>
      <div id='pin_button_container'>
        <%= pin_it_button %>
      </div>
    </div>
    </div>
    <%= render 'preorder/share/twitter_js' %>
    <%= render 'preorder/share/facebook_js' %>
    <%= render 'preorder/share/pinterest_js' %>
    </div>
    </div>
</div>
</div>  
</div>
