<div class="wrapper clearfix">
  <div id="video">
    <% if Settings.use_video_placeholder %>
      <div id="video_image">
        <img alt="video_place_holder" width='512px' height='385px' src="/assets/video_placeholder.png" />
      </div>
      <div id="player" class="hidden" style="display: none;">
        <object width="512" height="385">
          <param name="movie" value="<%= Settings.video_embed_url %>?autohide=0&showinfo=0&rel=0&autoplay=0" />
          <param name="allowFullScreen" value="true" />
          <param name="allowscriptaccess" value="always" />
          <embed src="<%= Settings.video_embed_url %>?autohide=0&showinfo=0&rel=0&autoplay=0" type="application/x-shockwave-flash" width="512" height="385" allowscriptaccess="always" allowfullscreen="true"></embed>
        </object>
      </div>
    <% else %>
      <iframe width='512' height='385' src="<%= video_url %>"></iframe>
    <% end %>
  </div>

  <div id="backing" class="main_content">
    <ul>
      <li class="stats" id="backers">
        <%= number_with_delimiter Order.backers, :delimiter => "," %>
        <span><%= Settings.primary_stat %></span>
      </li>
    </ul>
    
    <div id="reserve_container">
      <%= form_tag "/preorder/prefill", :id => "checkout" do %>
        <%= render 'preorder/payment_options' %>
        <div class="checkout_controls">
          <div class="checkout_controls_wrapper">
            <div class="checkout_controls_inner">
				<%= email_field_tag "email", nil, :placeholder => "Email address", :required => "required", :id => "email" %>
				<%= submit_tag Settings.call_to_action, :class => "blue_button reserve" %> 
            </div>
          </div>
        </div>
      <% end %>
      <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpikmoments&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
    </div>
  </div>
  
</div>
