<div class="wrapper clearfix">
  <div id="video">
    <% if Settings.use_video_placeholder %>
      <div id="video_image">
        <img alt="video_place_holder" width='512px' height='385px' src="/assets/video_placeholder.png" />
      </div>
      <div id="player" class="hidden" style="display: none;">
        <object width="512" height="385">
          <param name="movie" value="<%= Settings.video_embed_url %>?autohide=1&showinfo=0&rel=0&autoplay=1" />
          <param name="allowFullScreen" value="true" />
          <param name="allowscriptaccess" value="always" />
          <embed src="<%= Settings.video_embed_url %>?autohide=1&showinfo=0&rel=0&autoplay=1" type="application/x-shockwave-flash" width="512" height="385" allowscriptaccess="always" allowfullscreen="true"></embed>
        </object>
      </div>
    <% else %>
      <iframe width='512' height='385' src="<%= video_url %>"></iframe>
    <% end %>
  </div>

  <div id="backing">
    <ul>
      <li class="stats" id="backers">
        <%= number_with_delimiter Order.backers, :delimiter => "," %>
        <span><%= Settings.primary_stat %></span>
      </li>
    </ul>
    
    <div id="reserve_container">
      
      <h3>Get early access!</h3>

      <%= form_tag "/preorder/prefill", :id => "checkout" do %>
        <%= render 'preorder/payment_options' %>
        <div class="checkout_controls">
          <div class="checkout_controls_wrapper">
            <div class="checkout_controls_inner">
				<%= email_field_tag "email", nil, :placeholder => "Email address", :required => "required", :id => "email", :class=>"text_field"%>
				<%= submit_tag Settings.call_to_action, :class => "blue_button reserve" %> 
            </div>
          </div>
        </div>
      <% end %>
      <%= like_button %>
    </div>
  </div>
  
</div>
