<div class="sidebar">
  <h5> Share to get faster! </h5>
  <p> 
  We'll keep you updated about the whereabouts of this device!
  <div id="share_container">
	  <div id"share">
		  <div id='facebook_button_container'>
			  <%= like_button %>
			  <%= render 'preorder/share/facebook_js' %> 
		  </div>
		  <div id='tweet_button_container'>
			  <%= tweet_button %> 
			  <%= render 'preorder/share/twitter_js' %>
		  </div>
		  <div id='pin_button_container'>
			  <%= pin_it_button %>
			  <%= render 'preorder/share/pinterest_js' %> 
		  </div> 
	  </div>
  </div>

  </p> 
</div>
