<div class="pulldown wrapper clearfix" id="contact_page">

  <h3>Contact Us</h3>

  <%= form_for @message, :url => contact_path do |f| %>
    <% if @message.errors.any? %>
      <div class="error_messages">
        <ul>
          <% @message.errors.full_messages.each do |msg| %>
            <li><%= msg %>.</li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="contact_form">
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, :id=>"contact_text_field"%>
      </div>
      <div class="field">
        <span class="star">*</span>
        <%= f.label :email %><br />
        <%= f.text_field :email, :id=>"contact_text_field" %>
      </div>
      <div class="field">
        <%= f.label :subject %><br />
        <%= f.text_field :subject, :id=>"contact_text_field"%>
      </div>
      <div class="field">
        <span class="star">*</span>
        <%= f.label :body, "Message" %><br />
        <%= f.text_area :body, :rows => 5, :id=>"contact_text_field"%>
      </div>
      <div class="actions">
        <%= f.submit "Send Message", :class => "generic_button" %>
      </div>
    </div>
  <% end %>
</div>