<div class="footer">
  <div class="wrapper clearfix">

	<div class="footer-left">
	  <div class="website-links-container">
		<ul class="website-links">
		  <li>
			<%= link_to 'FAQ', '/faq' %>
		  </li>
		  <li>
			<%= link_to 'ABOUT US', '/about' %>
		  </li>
		  <li>
			<%= link_to 'PRIVACY', '/privacy' %>
		  </li>
		</ul>
	  </div>
	  <div class="copyright-container">
		<h5>
		© 2013 CuriousAnt Inc. All rights reserved. Patent pending.
		</h5>
	  </div>
	</div>

	<div class="footer-right">
	  <div class="footer-subscribe-container">
	  <%= render '/preorder/homepage/subscribe' %>
	  </div>
	</div>

  </div>
</div>
<%= render '/google_analytics' %>
<%= render 'preorder/homepage/addthisbuttons' %>
