<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width" >
    <meta name="p:domain_verify" content="6e256b3dc12ae257e529f7ca4aa2e7ba">
    <meta name="description" itemprop="description" content="Pikmoments: Captures beautiful moments automatically, keeps you connected to your home, people and places">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.pikmoments.com/">
    <meta property="og:title" content="Pikmoments: Captures beautiful moments automatically.">
    <meta property="og:image" content="http://www.pikmoments.com/images/weblogo.png">
    <meta property="og:description" content="Pikmoments: Captures beautiful moments automatically, keeps you connected to your home, people and places">
    <meta property="og:site_name" content="Pikmoments">

    <title><%= Settings.product_name %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag "favicon.ico" %>
  </head>
  <!--[if lt IE 9 ]><body class="lt-ie9"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body><!--<![endif]-->
    <div class="container">
      <%= render '/header' %>
      <%= yield %>
      <%= render '/footer' %>
    </div>
  </body>
</html>
