<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width" >
    <meta name="p:domain_verify" content="6e256b3dc12ae257e529f7ca4aa2e7ba">
    <meta name="p:domain_verify" content="4e9c22d6c8d9c60ccefe2912edf7b9fc"/>
    <meta name="description" itemprop="description" content="Tanvi Jindal's website">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.tanvijindal.com/">
    <meta property="og:title" content="Tanvi Jindal">
    <meta property="og:image" content="http://www.tanvijindal.com/assets/weblogo.png">
    <meta property="og:description" content="Tanvi Jindal's website">
    <meta property="og:site_name" content="Tanvi Jindal">
    <meta property="og:locale" content="en_US">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@tanvijindal">
    <meta property="twitter:description" content="Tanvi Jindal's website">
    <meta property="twitter:image:src" content="http://www.tanvijindal.com/assets/weblogo.png">
    <meta itemprop="name" content="Tanvi Jindal">
    <meta itemprop="image" content="http://www.tanvijindal.com/assets/weblogo.png">
    <meta itemprop="copyrightHolder" content="Tanvi Jindal">
    <meta itemprop="copyrightYear" content="2014">
    <meta itemprop="isFamilyFriendly" content="true">

    <meta property="st:title" content="Tanvi Jindal">
    <meta property="st:info" content="Tanvi Jindal's website">
    <meta property="st:image" content="http://www.tanvijindal.com/assets/weblogo.png">
    <meta property="st:popularity" content="">
    <meta property="st:type" content="en">
    <link rel="shortcut icon" href="http://www.tanvijindal.com/assets/favicon.ico">
    <title>Tanvi Jindal</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag "favicon.ico" %>
  </head>
  <!--[if lt IE 9 ]><body class="lt-ie9"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body><!--<![endif]-->
    <div class="container">
      <%= render '/header' %>
      <%= yield %>
      <%= render '/footer' %>
    </div>
  </body>
</html>
