<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta name="p:domain_verify" content="6e256b3dc12ae257e529f7ca4aa2e7ba"/>

    <meta cc:license="2.0" cc:attributionName="smlp.co.uk" cc:attributionURL="http://www.flickr.com/photos/biscuitsmlp/1124827531/" /> 
    <meta cc:license="2.0" cc:attributionName="Andrey" cc:attributionURL="http://www.flickr.com/photos/akras/6058126837/" /> 
    <meta cc:license="2.0" cc:attributionName="Beth" cc:attributionURL="http://www.flickr.com/photos/laundry/8515098493/" /> 
    <meta cc:license="2.0" cc:attributionName="Nina Matthews" cc:attributionURL="http://www.flickr.com/photos/21560098@N06/3618621937/" /> 
    <meta cc:license="2.0" cc:attributionName="Randen Pederson" cc:attributionURL="http://www.flickr.com/photos/chefranden/319968672/" /> 
    <meta cc:license="2.0" cc:attributionName="Juhan Sonin" cc:attributionURL="http://www.flickr.com/photos/juhansonin/5589410269/" /> 
	<title><%= Settings.product_name %></title>
    <%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
  </head>
  <!--[if lt IE 9 ]><body class="lt-ie9"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body><!--<![endif]-->
    <%= render 'preorder/header' %>
    <%= yield %>
    <%= render 'preorder/footer' %>
  </body>
</html>
